<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buttontap20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".FirstSetting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelVariaty1"
            android:label="LevelVariaty1" />
        <activity
            android:name=".LevelVariaty2"
            android:label="LevelVariaty2" />
        <activity
            android:name=".MainMenuRight"
            android:label="MainMenuRight" />
        <activity
            android:name=".MainMenuLeft"
            android:label="MainMenuLeft" />
        <activity
            android:name=".LevelStructurRight"
            android:label="LevelStructurRight" />
        <activity
            android:name=".LevelStructurLeft"
            android:label="LevelStructurLeft"/>
    </application>

</manifest>